<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Dictionary - <%= username %>
    </title>
    <%- include('./layouts/imports') %>
</head>

<body>
    <%- include('./layouts/navbar') %>
        <div class="container-md">
            <div class="row">
                <div class="col-xl-3 col-sm-4">
                    <%- include('./layouts/user-sidebar') %>
                </div>
                <div class="col-xl-9 col-sm-8">
                    <div class="py-5 mt-sm-0 mt-5">
                    <!-- Avatar -->
                        <div class="d-flex justify-content-center my-2 ">
                            <% if(role === "admin"){ %>
                                <i class="fa-solid fa-user-secret avatar rounded-circle p-2"></i>
                            <% }else if(role === "user"){ %>
                                <i class="fa-solid fa-user avatar rounded-circle p-2"></i>
                            <% }else{ %>
                                <i class="fa-solid fa-user-injured avatar rounded-circle p-2"></i>
                            <% } %>    
                        </div>
                    <!-- Avatar End -->

                    <!-- User Info -->
                        <h3 class="text-center">@<%= username %> </h3>
                        <% if(role === "admin"){ %>
                            <h5 class="text-muted text-center">Admin</h5>
                        <% }else if(role === "user"){ %>
                            <h5 class="text-muted text-center"><%= rank %> (<%= point %>) </h5>
                        <% }else{ %>
                            <h5 class="text-danger text-center">Banned</h5>
                        <% } %>
                        <% if(rank === 'Junior'){ %>
                            <div class="progress levelbar mt-4 mx-auto">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: <%= (point-100)/4 %>%"></div>
                            </div>
                            <% }else if(rank === 'Senior'){ %>
                        <div class="progress levelbar mt-4 mx-auto">
                            <div class="progress-bar bg-warning" role="progressbar" style="width:100%"></div>
                        </div>
                        <% }else{ %>
                            <div class="progress levelbar mt-4 mx-auto">
                                <div class="progress-bar bg-success" role="progressbar" style="width: <%= point %>%"></div>
                            </div>
                            <% } %>
                        <div class="d-flex levelbar mx-auto justify-content-center py-3">
                            <a class="link px-2" href="/users/<%= username %>/entries">
                                Entries : <%= entryCount %>
                            </a>
                            -
                            <p class="px-2">
                            <%= locals.moment(user.dataValues.createdAt).format('DD.MM.YYYY') %>
                            </p>
                        </div>
                    <!-- User Info End -->
                    </div>
                </div>
            </div>
        </div>
        <%- include('./layouts/footer') %>
</body>

</html>