<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Dictionary - <%= username %>'s Entries </title>
    <%- include('./layouts/imports') %>
</head>

<body>
    <%- include('./layouts/navbar') %>
        <div class="container-md">
            <div class="row">
                <div class="col-xl-3 col-sm-4">
                    <div class="bg-white w-100 d-sm-none d-block position-fixed start-0 end-0 p-2">
                        <button onclick="onClickMenu()" id="menu-btn" class="btn btn-primary w-100 mx-auto">Menu <i class="fa-solid fa-bars ps-2"></i></button>
                    </div>
                    <nav id="user-menu" class="w-100 bg-white sidebar d-flex flex-column p-3 border-end mt-sm-0 mt-5 my-2 d-sm-block d-none">
                        <a href="/users/<%= username %>"
                            class="sidebar-link d-flex align-items-center justify-content-between">
                            <% if(currentPath=='/users/' + username){ %>
                                <p class="fs-5 sidebar-active sidebar-text"># Profile</p>
                                <p class="fs-5 sidebar-active sidebar-arrow d-md-block d-none">--></p>
                                <% }else{ %>
                                    <p class="fs-5 sidebar-text"># Profile</p>
                                    <p class="fs-5 sidebar-arrow d-md-block d-none">--></p>
                                    <% } %>
                        </a>
                        <a href="/users/ <%= username %> /entries"
                            class="sidebar-link d-flex align-items-center justify-content-between">
                            <% if(currentPath=='/users/' + username +'/entries'){ %>
                                <p class="fs-5 sidebar-active sidebar-text"># Entries</p>
                                <p class="fs-5 sidebar-active sidebar-arrow d-md-block d-none">--></p>
                                <% }else{ %>
                                    <p class="fs-5 sidebar-text"># Entries</p>
                                    <p class="fs-5 sidebar-arrow d-md-block d-none">--></p>
                                    <% } %>
                        </a>
                        <% if(currentUser.role==="admin" && username===currentUser.username ){ %>
                            <a href="/users/<%= currentUser.username %>/admin"
                                class="sidebar-link d-flex align-items-center justify-content-between">
                                <% if(currentPath=='/users/' +currentUser.username+'/admin'){ %>
                                    <p class="fs-5 sidebar-active sidebar-text"># Admin Panel</p>
                                    <p class="fs-5 sidebar-active sidebar-arrow d-md-block d-none">--></p>
                                    <% }else{ %>
                                        <p class="fs-5 sidebar-text"># Admin Panel</p>
                                        <p class="fs-5 sidebar-arrow d-md-block d-none">--></p>
                                        <% } %>
                            </a>
                            <% } %>
                    </nav>
                </div>
                <div class="col-xl-9 col-sm-8">
                    <% entries && entries.forEach((entry)=>{ %>
                        <div class="pt-4 pe-3 border-bottom mt-sm-0 mt-5">
                            <a href="/topics/<%= entry.dataValues.TopicId %>" class="link">
                                <h3>
                                    <%= entry.dataValues.Topic.dataValues.name %>
                                </h3>
                            </a>
                            <p>
                                <%= entry.dataValues.text %>
                            </p>
                            <div
                                class="d-flex flex-md-row flex-column justify-content-space-between align-items-center">
                                <div class="d-flex w-md-50 w-100 py-2">
                                    <% if(liked){ %>
                                        <a href="/entries/<%= entry.dataValues.id %>/like/<%= locals.currentUser.username %>" class="link pe-2">
                                            <i class="fa-solid fa-thumbs-up text-primary"></i>
                                            <%= entry.dataValues.like.length || 0 %>
                                        </a>
                                    <% }else{ %>
                                    <a href="/entries/<%= entry.dataValues.id %>/like/<%= locals.currentUser.username %>" class="link pe-2">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        <%= entry.dataValues.like.length || 0 %>
                                    </a>
                                    <% } %>
                                    <% if(disliked){ %>
                                    <a href="/entries/<%= entry.dataValues.id %>/dislike/<%= locals.currentUser.username %>" class="px-3 link">
                                        <i class="fa-solid fa-thumbs-down text-primary"></i>
                                        <%= entry.dataValues.dislike.length || 0 %>
                                    </a>
                                    <% }else{ %>
                                    <a href="/entries/<%= entry.dataValues.id %>/dislike/<%= locals.currentUser.username %>" class="px-3 link">
                                        <i class="fa-solid fa-thumbs-down"></i>
                                        <%= entry.dataValues.dislike.length || 0 %>
                                    </a>
                                    <% } %>
                                    <% if(username===locals.currentUser.username){ %>
                                    <a href="/entries/<%= entry.dataValues.id %>" class="px-3 border-start border-end link">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                    <a href="/entries/<%= entry.dataValues.id %>?_method=DELETE" class="px-3 border-end link">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                    <% } %>
                                </div>
                                <div class="d-flex w-md-50 w-100 flex-md-row flex-column justify-content-end py-2">
                                    <a href="/users/<%= entry.dataValues.UserUsername %>" class="link">
                                        <h5 class="pe-3 text-primary lh-1">@<%= entry.dataValues.UserUsername %>
                                        </h5>
                                    </a>
                                    <p class="text-muted">
                                        <%= locals.moment(entry.dataValues.createdAt).format('DD.MM.YYYY - hh.mm A') %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
        <%- include('./layouts/footer') %>
        <script>
            const onClickMenu=()=>{
                console.log('clicked');
                const menu=document.getElementById('user-menu');
                var exists=menu.classList.contains('d-none');
                if(exists){
                    menu.classList.remove('d-none');
                }else{
                    menu.classList.add('d-none');
                }
            };
        </script>
</body>

</html>